**sublime**
*.pyc
dist/
*.egg-info
MANIFEST
build/
.eggs/
.coverage
.vscode/
env/
venv/
flake8.out
pylint.out
posthog-analytics
.idea
.python-version
.coverage
pyrightconfig.json
.env
.DS_Store
posthog-python-references.json