name: CI

on:
    - pull_request

jobs:
    code-quality:
        name: Code quality checks
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
              with:
                  fetch-depth: 1

            - name: Set up Python 3.11
              uses: actions/setup-python@v2
              with:
                  python-version: 3.11.11

            - uses: actions/cache@v3
              with:
                  path: ~/.cache/pip
                  key: ${{ runner.os }}-pip-${{ hashFiles('setup.py') }}
                  restore-keys: |
                      ${{ runner.os }}-pip-

            - name: Install dev dependencies
              run: |
                  python -m pip install -e .[dev]
              if: steps.cache.outputs.cache-hit != 'true'

            - name: Check formatting with black
              run: |
                  black --check .

            - name: Lint with flake8
              run: |
                  flake8 posthog --ignore E501,W503

            - name: Check import order with isort
              run: |
                  isort --check-only .

            - name: Check mypy version
              run: mypy --version

            - name: Verbose mypy output for debugging
              run: |
                  mypy --no-site-packages --config-file mypy.ini .

            - name: Check types with mypy
              run: |
                  mypy --no-site-packages --config-file mypy.ini  . | mypy-baseline filter

    tests:
        name: Python tests
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
              with:
                  fetch-depth: 1

            - name: Set up Python 3.9
              uses: actions/setup-python@v2
              with:
                  python-version: 3.9

            - name: Install requirements.txt dependencies with pip
              run: |
                  python -m pip install -e .[test]

            - name: Run posthog tests
              run: |
                  pytest --verbose --timeout=30
