name: Backend CI

on:
    - pull_request

jobs:
    tests:
        name: Python tests
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v1
              with:
                  fetch-depth: 1

            - name: Set up Python 3.7
              uses: actions/setup-python@v1
              with:
                  python-version: 3.7

            - name: Install requirements.txt dependencies with pip
              run: |
                  python -m pip install -e .

            - name: Run posthog tests
              run: |
                  python setup.py test
